{% load static %}
<!doctype html>
<html>
    <head>
        <title>Delete task</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <nav class="navbar-nav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'show_my_tasks' %}">My Tasks</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'list_projects' %}">My Projects</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main class="text-center">
            <form method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete "{{ task.name }}"?</p>
                {{ form.as_p }}
                <div class="control">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </div>
              </form>
        </main>
    </body>
</html>