{% load static %}
<!doctype html>
<html>
    <head>
        <title>Create a new task</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <nav class="navbar-nav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'show_my_tasks' %}">My Tasks</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'list_projects' %}">My Projects</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main class="text-center">
            <div>
                <h1>{{ task.name }}</h1>
                <p>{{ task.start_date }} to {{ task.due_date }}</p>
            </div>
            <div>
                <h1>Notes</h1>
                {% for note in notes %}
                <h3>{{ note.date }}</h3>
                <p>{{ note.description }}</p>
                <br></br>
                {% empty %}
                <p>You have not created any notes for this task. Create a note below!</p>
                {% endfor %}
            </div>
            <div>
                <h3>Enter your notes here</h3>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                  <div>
                      <button type="submit" class="btn btn-primary btn-lg">Create</button>
                  </div>
                </form>
            </div>
        </main>
    </body>
</html>