{% load markdownify %}
{% load static %}
<!doctype html>
<html>
    <head>
        <title>Project Detail</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <nav class="navbar-nav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'show_my_tasks' %}">My Tasks</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'list_projects' %}">My Projects</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main class="text-center">
            <div>
                <h1>{{ project.name }}</h1>
                <p>{{ project.description|markdownify }}</p>
                <h2>Tasks</h2>
                <p><a href="{% url 'create_task' %}">Create a new task</a></p>
                {% if project.tasks.all %}
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Assignee</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in project.tasks.all %}
                                <tr>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.assignee }}</td>
                                    <td>{{ task.start_date }}</td>
                                    <td>{{ task.due_date }}</td>
                                    {% if task.is_completed %}
                                        <td>Yes</td>
                                    {% else %}
                                        <td>No</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>This project has no tasks</p>
                {% endif %}
            </div>
            <div>
                <h1>Collab Space</h1>
                <p>Write messages to project members here!</p>
                {% for message in messages %}
                <p>{{ message.creator }} on {{ message.date }}</p>
                <p>{{ message.content }}</p>
                {% empty %}
                <p>No messages yet. Write a message to the group down below!</p>
                {% endfor %}
            </div>
            <div>
                <h2>Create message here</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <button type="submit" class="btn btn-primary btn-lg">Post</button>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>