{% load static %}
<!doctype html>
<html>
    <head>
        <title>Projects</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <nav class="navbar-nav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'show_my_tasks' %}">My Tasks</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'list_projects' %}">My Projects</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main class="text-center">
            <h1>{{ user }}'s Project Manager</h1>
            <br></br>
            <div class="card">
                <h2 class="card-header">Past due tasks</h2>
                {% for task in tasks_past_due %}
                <p><a href="{% url 'task_detail' task.id %}">{{ task.name }}</a></p>
                {% empty %}
                <p>Congratulations! No past due tasks</p>
                {% endfor %}
            </div>
            <div class="card">
                <h2 class="card-header">Tasks due in the next 24 hours</h2>
                {% for task in tasks_due_today %}
                <p><a href="{% url 'task_detail' task.id %}">{{ task.name }}</a></p>
                {% empty %}
                <p>No tasks due today!</p>
                {% endfor %}
            </div>
            <div class="card">
                <h2 class="card-header">Upcoming Tasks due in the next week</h2>
                {% for task in tasks_upcoming %}
                <p><a href="{% url 'task_detail' task.id %}">{{ task.name }}</a></p>
                {% empty %}
                <p>No upcoming tasks</p>
                {% endfor %}
            </div>
            <div>
                <h1>My Projects</h1>
                <p><a href="{% url 'create_project' %}">Create a new project</a></p>
                {% if project_list %}
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of tasks</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in project_list %}
                                <tr>
                                    <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                                    <td>{{ project.tasks.all|length }}</td>
                                    {% if project.is_finished %}
                                    <td>project is complete</td>
                                    {% else %}
                                    <td>project in progress</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>You are not assigned to any projects</p>
                {% endif %}
            </div>
        </main>
    </body>
</html>